/Adapter/AdapterMotores/target/
/LabPatronesCreacionales/Lab3PatronesCreacionales/target/
/Singleton/nbproject/private/
/Singleton/build/
/FabricaAbstracta/nbproject/private/
/Facade/nbproject/private/
/FacadeEjmRobots/nbproject/private/
/Facade/FacadeEjmCine/nbproject/private/
/Facade/FacadeEjmCine/build/
/Facade/FacadeEjmRobots/nbproject/private/
/Facade/FacadeEjmRobots/build/
/PatronComportamiento_2/nbproject/private/
/PatronComportamiento_2/build/
